*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
.bg-color-og{
    background-color: orangered;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items:center ;
    padding: 10px 200px;
}
.img{
    width: 200px;
    
}
.fontsize{
    font-size: 20px;
   
}
.lista{
    display: flex;
    list-style-type: none;
}
.lista>li{
    margin: 0px 10px;
}
.container{
    width: 80%;
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
 main{
    display: flex;
    justify-content: center;
    align-items: center;
 } 

.card{
    width: 30%;
    margin: 10px;
}

.cardimg{
    position: relative;
}    
.cardimg>img{
    width: 100%;
}
.absolute{
    position: absolute;
    right: 0;
    top: 10px;
    background-color: white;
    padding: 10px;
}
.green{
    background-color: green;
    color: white;
}
.red{
    background-color: red;
    color: white;
}
.absolute2{
    position: absolute;
    left: 0;
    bottom: 25px;
}
    
    
